
.mc2{
    background: #100e1a;
    height: calc(100vh - 85.5px); 
}
h1{
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.con3{
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
.progress{
    margin-top: 25px;
    font-size: 1.1rem;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
}